h1 {
    height: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    background-color: darkblue;
    color: whitesmoke;
    position: relative;
}

.centerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.button {
    
    background-color: darkblue;
    border: none;
    color: whitesmoke;
    padding: 16px 32px;
    display: inline;
    font-size: medium;
    text-align: center;
    border-radius: 3%;
    opacity: 0.5;
    transition: 0.3s;
}
.button:hover {opacity: 1}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}